body{
    background-color: #ffffe6;
}
.mt-10{
    margin-top: 19%;
}
.mr-10{
    margin-right: 20%;
}
.ml-10{
    margin-right: 10%;
}
.footer{
    background-color: #f5f5f5;
    bottom: 0 ;

}

.interHeader{
    float:right;
}
.background1{
    background: url(../Images/background1.jpg);
    background-size: auto;
}
.background2{
    background: url(../Images/background2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
